html,
body {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #ffffff;
    background-repeat: repeat;
    font-family: 'Helvetica', 'Lato', sans-serif;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

a {
    color: #ABADB5;

}

/* Landing Page */

/* Gradient box background */
.boxLand {
    background-image: linear-gradient(#E3DDFF, white 50%);
    display: block;
    padding: 1.25rem;
}

/* Page Header */
.header {
    overflow: hidden;
    background-color: #F6F4FF;
    padding: 10px;
    position: sticky;
    top: 0;
    box-shadow: 0 -6px 10px 5px rgba(216, 201, 251, 1.0);
    z-index: 1;
}

.header img {
    max-width: 60px;
    float: left;
}

/* Header links */
.header a {
    float: left;
    color: #696767;
    text-align: center;
    padding: 20px;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-size: 20px;
    line-height: 40px;
    border-radius: 4px;
}

.header a:hover {
    color: #3F346E;
    background-color: #FBFCFF;
}

.header a.active {
    color: #000000;

}

.header-right {
    float: right;
}

/* Footer */

.footerO {
    background-color: #F6F4FF;
    padding: 3rem 1.5rem 3rem;
}

/* Texts */

.landing_title {
    font: "Lato";
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 0.02em;
    color: #3F346E;
    margin-top: 10vh;
    margin-left: 3.5vw;

}

.h1 {
    font: "Lato";
    font-weight: 300;
    font-size: 28px;
    letter-spacing: 0.02em;
    color: #000000;
}

.h2 {
    font: "Lato";
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: #000000;

}

.h2Landing {
    font: "Lato";
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #000000;
    margin-top: 5vh;
    margin-left: 3.5vw;

}

.h3 {
    font: "Lato";
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #000000;
}

.h3Support {
    font: "Lato";
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #3086FF;
}

.h3Bundling {
    font: "Lato";
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #B7384D;
}

.h3Ad {
    font: "Lato";
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #373BC3;
}

.h3Eco {
    font: "Lato";
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #907B6E;
}