html,
body {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #ffffff;
    background-repeat: repeat;
    font-family: 'Helvetica', 'Lato', sans-serif;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.landing_title {
    font: "Lato";
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 0.02em;
    color: #3F346E;
    margin-top: 10vh;
    margin-left: 3.5vw;

}

.h1 {
    font: "Lato";
    font-weight: 300;
    font-size: 28px;
    letter-spacing: 0.02em;
    color: #000000;
}

.h2 {
    font: "Lato";
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: #000000;

}

.h2Landing {
    font: "Lato";
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #000000;
    margin-top: 5vh;
    margin-left: 3.5vw;

}

.h3 {
    font: "Lato";
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #000000;
}

.h3Support {
    font: "Lato";
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #3086FF;
}

.h3Bundling {
    font: "Lato";
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #B7384D;
}

.h3Ad {
    font: "Lato";
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #373BC3;
}

.h3Eco {
    font: "Lato";
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #907B6E;
}

.buttonSupport {
    background-color: white;
    border-color: #3086FF;
    border-width: 1px;
    color: #3086FF;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.375em - 1px);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: calc(0.375em - 1px);
    text-align: center;
    white-space: nowrap;
    font-size: 18px;
}

.buttonSupport.is-link {
    background-color: #3086FF;
    border-color: transparent;
    color: #fff;
}

.buttonSupport.is-link.is-outlined {
    background-color: transparent;
    border-color: #3086FF;
    color: #3086FF;
}

.buttonSupport.is-link.is-outlined:hover,
.button.is-link.is-outlined:focus {
    background-color: #3086FF;
    border-color: #3086FF;
    color: #fff;
}

.buttonSupport.is-fullwidth {
    display: flex;
    width: 100%;
}

.buttonSupport.is-rounded {
    border-radius: 290486px;
    padding-left: 1em;
    padding-right: 1em;
}


.buttonAd {
    background-color: white;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.375em - 1px);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: calc(0.375em - 1px);
    text-align: center;
    white-space: nowrap;
    font-size: 18px;
}

.buttonAd.is-link {
    background-color: #373BC3;
    border-color: transparent;
    color: #fff;
}

.buttonAd.is-link.is-outlined {
    background-color: transparent;
    border-color: #373BC3;
    color: #373BC3;
}

.buttonAd.is-link.is-outlined:hover,
.button.is-link.is-outlined:focus {
    background-color: #373BC3;
    border-color: #373BC3;
    color: #fff;
}

.buttonAd.is-fullwidth {
    display: flex;
    width: 100%;
}

.buttonAd.is-rounded {
    border-radius: 290486px;
    padding-left: 1em;
    padding-right: 1em;
}


.buttonBundling {
    background-color: white;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #B7384D;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.375em - 1px);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: calc(0.375em - 1px);
    text-align: center;
    white-space: nowrap;
    font-size: 18px;
}

.buttonBundling.is-link {
    background-color: #B7384D;
    border-color: transparent;
    color: #fff;
}

.buttonBundling.is-link.is-outlined {
    background-color: transparent;
    border-color: #B7384D;
    color: #B7384D;
}

.buttonBundling.is-link.is-outlined:hover,
.button.is-link.is-outlined:focus {
    background-color: #B7384D;
    border-color: #B7384D;
    color: #fff;
}

.buttonBundling.is-fullwidth {
    display: flex;
    width: 100%;
}

.buttonBundling.is-rounded {
    border-radius: 290486px;
    padding-left: 1em;
    padding-right: 1em;
}


.buttonEco {
    background-color: white;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #907B6E;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.375em - 1px);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: calc(0.375em - 1px);
    text-align: center;
    white-space: nowrap;
    font-size: 18px;
}

.buttonEco.is-link {
    background-color: #907B6E;
    border-color: transparent;
    color: #fff;
}

.buttonEco.is-link.is-outlined {
    background-color: transparent;
    border-color: #907B6E;
    color: #907B6E;
}

.buttonEco.is-link.is-outlined:hover,
.button.is-link.is-outlined:focus {
    background-color: #907B6E;
    border-color: #907B6E;
    color: #fff;
}

.buttonEco.is-fullwidth {
    display: flex;
    width: 100%;
}

.buttonEco.is-rounded {
    border-radius: 290486px;
    padding-left: 1em;
    padding-right: 1em;
}